body {
  font-family: 'Lato', sans-serif;
  color: $font-color;
  font-size: $font-size-par;
  box-sizing: border-box;
  background-color: $bg-color-main;
}

.row {
  display: block;
  margin: 0;
  padding: 0;
}