body {
  font-family: $paragraph-font;
  color: $font-color;
  font-size: $font-size-par;
  box-sizing: border-box;
  background-color: $bg-color-main;
}

.row {
  display: block;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  padding-left: 180px;
  margin: 0;
  justify-content: center;
}