/* Colors */

$color-dark: #000000;
$bg-color-main: #34ebe1;
$color-light: #ffffff;
$color-main: #e67e22;
$font-color: #7f8c8d;
$color-shadow: #95a5a6;
$color-user: #3498db;
$color-nav-hover: #2c3e50;

/* Font-sizes */

$font-size-header: 18px;
$font-size-par: 16px;

/* Fonts */

$brand-font: "Dancing Script", Helvetica, Arial;
$paragraph-font: 'Lato', sans-serif;