.box {
  margin-top: 80px;
  min-height: 200px;
  min-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
  background-color: $color-light;
}

.box-inside {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 25px 0;

  .col {
    flex: 2 40%;

    &.par {
      padding-left: 0;
      margin: 10px;
    }
  }
}