.par {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-left: 25px;
  height: 60px;
  border-bottom: 1px solid $font-color;

  &.par--title {
    display: flex;
    justify-content: left;
  }
}

.par--brand {
  display: flex;
  flex-direction: row-reverse;
  font-size: 30px;

 .brand-icon {
   padding-right: 15px;

   &:hover {
     color: $color-light;
   }
 }
}