.par {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-left: 25px;
  min-height: 60px;
  border-bottom: 1px solid $font-color;

  &.par--title {
    display: flex;
    justify-content: left;
  }

  &.par--wrapper {
    padding-right: 25px;
    border-bottom: none;
  }

  &.par--row {
    padding-right: 25px;
    flex: 1 100%;
    justify-content: space-between;
    transition: 0.5s;

    i {
      opacity: 0;
      transition: 0.5s;
    }

    &:hover {
      background-color: $color-chart-legend-tile;

      i {
        opacity: 1;

        &:hover {
          color: $color-light;
        }
      }
    }
  }

  &.par--btn {
    flex: 1 100%;
  }

  &.par--btn--bottom {
    border-bottom: hidden;
  }
}

.par--brand {
  display: flex;
  flex-direction: row-reverse;
  font-size: 30px;

 .brand-icon {
   padding-right: 15px;

   &:hover {
     color: $color-light;
   }
 }
}