header {
  background-color: $color-light;
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  width: 100%;
  position: fixed;
  height: 60px;
  border-bottom: solid 1px $font-color;

  .header-list {
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;

    .header-list-elem {
      display: inline-flex;
      align-items: center;
      height: 100%;
      border-left: 1px solid $font-color;
      line-height: 60px;
      padding: 0 10px;
    }
  }

  .header-icon {
    font-size: 18px;
    margin: auto 15px;
  }

  .header-money {
    font-size: 20px;
    font-weight: bold;
  }

  .header-user {
    font-size: 12px;
    color: $color-user;
  }
}

